<!DOCTYPE html>
<html>
<head>
<!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/pages/index">
      <%= image_tag ("logo.png"), :size=> "55x65"%>
    </a>
    <a class="navbar-brand" href="/pages/index">Collection Jar</a>

      <!-- Spacing -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      </div>

      <!-- Search bar -->
      <form class="form-inline my-2 my-lg-0" id="newsearch" method="get" action="/pages/search">
        <input class="form-control mr-sm-2" name='q' type="search" placeholder="Search Video Games, Movies, and more..." aria-label="Search" id="textinput">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>

      <!-- Additional Spacing -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown py-0 px-md-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if user_signed_in? %>
                    Hello, <%= current_user.fname %>!
              <% else %>
                    Hello, User!
              <% end %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                  <a class="dropdown-item" <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

              <% else %>
                  <a class="dropdown-item" <%= link_to('Login', new_user_session_path)  %></a>
                  <a class="dropdown-item" <%= link_to('Sign up', new_user_registration_path)  %></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" <%= link_to('Forgot password?', new_user_password_path) %></a>

              <% end %>

            </div>
          </li>
        </ul>

  </nav>
  <style>
    .btn-block {
      display: block;
      width: 100%;
    }
    .gamepage-cover {
    float: left;
    width: 264px;
    margin-right: 25px;
    margin-top: 20px;
    }
    .gamepage-tabs {
    padding-left: 30px;
    border-right: 1px solid #ECECEC;
    }
    .about-section {
      font-weight: 100;
      font-size: 75%;
    }
    .text-semibold {
      font-weight: 400;
    }
    .button_space {
        margin: 5px;
    }
  </style>
  <head>
<!-- Body -->
<body>
    <% api = VideoGameApi.new("page") %>
    <% results = api.get_by_id(params[:id]) %>
    <%if (results[0]['genres'] != nil) %>
        <% genre = api.get_genre(results[0]['genres'][0]) %>
    <%end%>
    <% publisher = api.find_involved_company(params[:id]) %>
    <% cover = api.get_cover_id(results[0]['cover']) %>
  <div class="container">
    <div class="gamepage-cover">
      <!-- src is going to be replacement for cover image -->
      <% if cover != nil %>
      <img class="img-responsive cover_big" alt="" src="<%=api.get_cover_link(cover,"cover_big")%>" style="height: 328px, max-width: 100%;">
      <% else %>
        <%= image_tag ("no_image_big.jpg")%>
      <% end %>
      <br><br> <!-- line breaks -->
      <% if user_signed_in? %>
      <div class="btn btn-collection btn-block mar-lg-bottom" onclick=" relocate_new_vg()">Add to Collection</div>
      <script>
            function relocate_new_vg()
            {
                 location.href = "/videogames/new?title=<%=results[0]['name']%>&genre=<%=genre%>&date=<%=params[:date]%>&publisher=<%=publisher%>";
            }
      </script>
      <div class="button_space"/>
      <div class="btn btn-primary btn-block mar-lg-bottom" onclick=" relocate_new_wishlist()">Add to Wish List</div>
      <script>
            function relocate_new_wishlist()
            {
                 location.href = "/wishlists/new?title=<%=results[0]['name']%>&type=Video%20Game";
            }
      </script>
      <% else %>
      <div class="btn btn-primary btn-block mar-lg-bottom" onclick=" relocate()">Sign up to Add Collection</div>
      <script>
            function relocate()
            {
                 location.href = "/users/sign_up";
            }
      </script>
      <% end %>
      <div class="gamepage-gauge">
        <svg class="gauge filter-good " viewBox="0 0 110 110" width="136px" height="136px" style="width:136px;text-align:center;">
          <circle cx="55" cy="55" r="55" fill="#FFFFFF"></circle>
          <path stroke-linecap="round" stroke-width="6" stroke="#F3F3F3" fill="none" stroke-dasharray="251.2, 251.2" d="M55 15 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"></path>
          <path class="gauge-progress" stroke-linecap="round" stroke-width="6" fill="none" d="M55 15 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80" style="stroke-dasharray: 190.912, 251.2; transition: stroke-dasharray 3s ease 0s;"></path>
          <text x="55" y="50" text-anchor="middle" dy="7" fill="#2e51a2" font-size="30">
             <% if results[0]['aggregated_rating'] != nil %>
                    <%='%.f' % results[0]['aggregated_rating']%>
             <% else %>
                    N/A
             <% end %>
          </text>
          <text class="gauge-description" x="55" y="67" text-anchor="middle" dy="7" font-size="12">Critic Rating</text>
        </svg>
        <svg class="gauge filter-good gauge-twin" viewBox="0 0 110 110" width="105px" height="105px" style="width:105px;text-align:center;">
          <circle cx="55" cy="55" r="55" fill="#FFFFFF"></circle>
          <path stroke-linecap="round" stroke-width="7" stroke="#F3F3F3" fill="none" stroke-dasharray="251.2, 251.2" d="M55 15 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"></path>
          <path class="gauge-progress" stroke-linecap="round" stroke-width="7" fill="none" d="M55 15 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80" style="stroke-dasharray: 192.651, 251.2; transition: stroke-dasharray 3s ease 0s;"></path>
          <text x="55" y="50" text-anchor="middle" dy="7" fill="#2e51a2" font-size="30">
            <% if results[0]['aggregated_rating_count'] != nil %>
                   <%=results[0]['aggregated_rating_count']%>
            <% else %>
                   N/A
            <% end %>
          </text>
          <text class="gauge-description" x="55" y="67" text-anchor="middle" dy="7" font-size="12">Reviews</text>
        </svg>
      </div>
    </div>
    </div>
       <div class="gamepage-summary">
         <div class="gamepage-title-container" style="height:333.8px;">
           <div class="gamepage-title-wrapper"><br>
             <h1 class="banner-title"><%=results[0]['name']%></h1>
             <h2 class="banner-subheading"><small><%=params[:date]%><small></h2>
             <h3 class="banner-subsubheading"><i><small><%=publisher%></small></i></h3>
           </div>
           <h3>About<h3>
           <div class="about-section">
             <p>
               <span class="text-semibold">Genres:</span>
            <% if results[0]['genres'] != nil %>
                     <%=genre%>
                     <% if results[0]['genres'][1] != nil %>
                  ,     <%=api.get_genre(results[0]['genres'][1])%>
                     <% end %>
               <% else %>
                    N/A
            <% end %>
             </p>
             <p>
             <span class="text-semibold">Platforms:</span>
             <% if results[0]['platforms'] != nil %>
              <%=api.get_platform(results[0]['platforms'][0])%>
              <% if results[0]['platforms'][1] != nil %>
                  , <%=api.get_platform(results[0]['platforms'][1])%>
              <% end %>
              <% if results[0]['platforms'][2] != nil %>
                  , <%=api.get_platform(results[0]['platforms'][2])%>
              <% end %>
              <% else %>
              N/A
              <% end %>
             </p>
             <div class="description">
               <%=results[0]['summary']%>
             </div>
             <br>
           </div>
         </div>
       </div>
   </body>
   </html>
