<!DOCTYPE html>
<html>
<head>
<!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/pages/index">
      <%= image_tag ("logo.png"), :size=> "55x65"%>
    </a>
    <a class="navbar-brand" href="/pages/index">Collection Jar</a>

      <!-- Spacing -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      </div>

      <!-- Search bar -->
      <form class="form-inline my-2 my-lg-0" id="newsearch" method="get" action="http://localhost:3000/pages/search">
        <input class="form-control mr-sm-2" name='q' type="search" placeholder="Search Video Games, Movies, and more..." aria-label="Search" id="textinput">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>

      <!-- Additional Spacing -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown py-0 px-md-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if user_signed_in? %>
                    Hello, <%= current_user.fname %>!
              <% else %>
                    Hello, User!
              <% end %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                  <a class="dropdown-item" <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

              <% else %>
                  <a class="dropdown-item" <%= link_to('Login', new_user_session_path)  %></a>
                  <a class="dropdown-item" <%= link_to('Sign up', new_user_registration_path)  %></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" <%= link_to('Forgot password?', new_user_password_path) %></a>

              <% end %>

            </div>
          </li>
        </ul>

  </nav>
  <style>
    .btn-block {
      display: block;
      width: 100%;
    }
    .btn-primary {
      color: #fff;
      background-color: #2e51a2;
      border-color: #2e51a2;
    }
    .gamepage-cover {
    float: left;
    width: 264px;
    margin-right: 25px;
    margin-top: 20px;
    }
    .gamepage-tabs {
    padding-left: 30px;
    border-right: 1px solid #ECECEC;
    }
    .about-section {
      font-weight: 100;
      font-size: 75%;
    }
    .text-semibold {
      font-weight: 400;
    }
  </style>
  <head>
<!-- Body -->
<body>
    <% api = VideoGameApi.new("page") %>
    <% results = api.get_by_id(params[:id]) %>
  <div class="container">
    <div class="gamepage-cover">
      <!-- src is going to be replacement for cover image -->
      <img class="img-responsive cover_big" alt="" src="<%=api.get_cover_link(params[:cover],"cover_big")%>" style="height: 328px;">
      <br><br> <!-- line breaks -->
      <div class="btn btn-primary btn-block mar-lg-bottom">Add to List</div>
      <div class="gamepage-gauge">
        <svg class="gauge filter-good " viewBox="0 0 110 110" width="136px" height="136px" style="width:136px;text-align:center;">
          <circle cx="55" cy="55" r="55" fill="#FFFFFF"></circle>
          <path stroke-linecap="round" stroke-width="6" stroke="#F3F3F3" fill="none" stroke-dasharray="251.2, 251.2" d="M55 15 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"></path>
          <path class="gauge-progress" stroke-linecap="round" stroke-width="6" fill="none" d="M55 15 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80" style="stroke-dasharray: 190.912, 251.2; transition: stroke-dasharray 3s ease 0s;"></path>
          <text x="55" y="50" text-anchor="middle" dy="7" fill="#2e51a2" font-size="30"><%=results[0]['aggregated_rating']%></text>
          <text class="gauge-description" x="55" y="67" text-anchor="middle" dy="7" font-size="12">Rating</text>
        </svg>
        <svg class="gauge filter-good gauge-twin" viewBox="0 0 110 110" width="105px" height="105px" style="width:105px;text-align:center;">
          <circle cx="55" cy="55" r="55" fill="#FFFFFF"></circle>
          <path stroke-linecap="round" stroke-width="7" stroke="#F3F3F3" fill="none" stroke-dasharray="251.2, 251.2" d="M55 15 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"></path>
          <path class="gauge-progress" stroke-linecap="round" stroke-width="7" fill="none" d="M55 15 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80" style="stroke-dasharray: 192.651, 251.2; transition: stroke-dasharray 3s ease 0s;"></path>
          <text x="55" y="50" text-anchor="middle" dy="7" fill="#2e51a2" font-size="30"><%=results[0]['aggregated_rating_count']%></text>
          <text class="gauge-description" x="55" y="67" text-anchor="middle" dy="7" font-size="12">Count</text>
        </svg>
      </div>
    </div>
       <div class="gamepage-summary">

         <div class="gamepage-title-container" style="height:333.8px;">
           <div class="gamepage-title-wrapper"><br>
             <h1 class="banner-title"><%=results[0]['name']%></h1>
             <h2 class="banner-subheading"><small><%=params[:date]%><small></h2>
             <a href="/publisher/<insert>"><!--this is for referencing to that game publisher page if we decide to make one -->
               <h3 class="banner-subsubheading"><i><small></small></i></h3>
             </a>
           </div>
           <h3>About<h3>
           <div class="about-section">
             <p>
               <span class="text-semibold">Genre:</span>
               <!-- can probably surround this with an if with conditions if more than 1 genre or javascript -->
               <a href="/genres/<insert>">Placeholder Genre #1</a>,
               <a href="/genres/<insert>">Placeholder Genre #2</a>
             </p>
             <p>
             <span class="text-semibold">Platforms:</span>
             <a href="/platforms/<insert>">Placeholder Platform #1</a>,
             <a href="/platforms/<insert>">Placeholder Platform #2</a>
             </p>
             <div class="description">
               <%=results[0]['summary']%>
             </div>
             <br>
           </div>
         </div>
       </div>
     </div>
   </body>
   </html>
