<!DOCTYPE html>
<html>
<!-- Header -->
  <head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <%= image_tag ("logo.png"), :size=> "55x65"%>
    </a>
    <a class="navbar-brand" href="#">Collection Jar</a>

      <!-- Spacing -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      </div>

      <!-- Search bar -->
      <form class="form-inline my-2 my-lg-0" id="newsearch" method="get" action="/pages/search">
        <input class="form-control mr-sm-2" name='q' type="search" placeholder="Search Video Games, Movies, and more..." aria-label="Search" id="textinput">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>


      <!-- Additional Spacing -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown py-0 px-md-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if user_signed_in? %>
                    Hello, <%= current_user.fname %>!
              <% else %>
                    Hello, User!
              <% end %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                  <a class="dropdown-item" <%= link_to('Wishlist', wishlists_path) %>
                  <a class="dropdown-item" <%= link_to('Logout', destroy_user_session_path, method: :delete)%>

              <% else %>
                  <a class="dropdown-item" <%= link_to('Login', new_user_session_path)  %></a>
                  <a class="dropdown-item" <%= link_to('Sign up', new_user_registration_path)  %></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" <%= link_to('Forgot password?', new_user_password_path) %></a>

              <% end %>

            </div>
          </li>
        </ul>
  </nav>
  <style>
  .navbar {
    margin-bottom: 25px;
  }
  .jumbotron-heading {
    padding-left: 30px;
  }
  </style>
  </head>
<!-- Body -->
<body>
  <div class="container">
      <div class="col-sm-13">
        <main role="main">
          <!-- carousel that will only appear if signed in -->
          <% if user_signed_in? %>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="255" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                  <rect width="100%" height="100%" fill="#343a40"/>
                </svg>
                <div class="container">
                  <div class="carousel-caption text-left">
                    <h1>Start Collecting</h1>
                    <p>Choose from one of the following options below and start your collection, if you want to create a custom collection other than our preset options click on <strong>Create Custom</strong>.</p>
                    <p><a class="btn btn-lg btn-collection" href="#" role="button">Create Custom</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="255" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                  <rect width="100%" height="100%" fill="#343a40"/>
                </svg>
                <div class="container">
                  <div class="carousel-caption">
                    <h1>Import</h1>
                    <p>Collection Jar also supports importing your collections from CSV files.</p>
                    <p><a class="btn btn-lg btn-collection" href="#" role="button">Learn more</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="255" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                  <rect width="100%" height="100%" fill="#343a40"/>
                </svg>
                <div class="container">
                  <div class="carousel-caption">
                    <h1>Wishlist</h1>
                    <p>Keep track of all your favorite items yet to be collected!</p>
                    <p><a class="btn btn-lg btn-collection" href='/wishlists' role="button">Get Started</a></p>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <br>
          <!-- carousel end -->
          <% else %>
          <!-- static text box that will be for first time / not signed-in users -->
          <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Track Your Collection</h1>
              <p class="lead text-muted">Collection Jar is a where you can <strong> create, update, and manage </strong> your personal collections—video games, movies, music, and more. Make your own collection and begin tracking your collectibles now!</p>
              <p>
                <a class="btn btn-collection my-2"<%= link_to('Start Collection', new_user_registration_path) %></a>
              </p>
            </div>
          </section>
        </main>
      </div>
     </div>
     <% end %>
     <!-- text box end -->
     <% if user_signed_in? %>
     <!-- collection options for logged in users -->
     <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Video Games</title>
              <rect width="100%" height="100%" fill="#e9ecef"></rect>
              <text x="40%" y="50%" fill="#343a40" dy=".3em">Placeholder</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Video Game</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- Plan is to have click on this and automatically autofill/add item to collection -->
                  <a class="btn btn-sm btn-outline-secondary"<%= link_to 'Add to Collection', new_videogame_path %></a>
                  <a class="btn btn-sm btn-outline-secondary"<%= link_to('View', videogames_path) %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Movies</title>
              <rect width="100%" height="100%" fill="#e9ecef"></rect>
              <text x="40%" y="50%" fill="#343a40" dy=".3em">Placeholder</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Movie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary"<%= link_to 'Add to Collection', new_movie_path %></a>
                  <a class="btn btn-sm btn-outline-secondary"<%= link_to('View', movies_path) %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Cards</title>
              <rect width="100%" height="100%" fill="#e9ecef"></rect>
              <text x="40%" y="50%" fill="#343a40" dy=".3em">Placeholder</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Card</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary"<%= link_to 'Add to Collection', new_card_path %></a>
                  <a class="btn btn-sm btn-outline-secondary"<%= link_to('View', cards_path) %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Books</title>
              <rect width="100%" height="100%" fill="#e9ecef"></rect>
              <text x="40%" y="50%" fill="#343a40" dy=".3em">Placeholder</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Book</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary">Add to Collection</a>
                  <a class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>CD/DVDs</title>
              <rect width="100%" height="100%" fill="#e9ecef"></rect>
              <text x="40%" y="50%" fill="#343a40" dy=".3em">Placeholder</text>
            </svg>
            <div class="card-body">
              <p class="card-text">CD/DVD</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary">Add to Collection</a>
                  <a class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Vinyls</title>
              <rect width="100%" height="100%" fill="#e9ecef"></rect>
              <text x="40%" y="50%" fill="#343a40" dy=".3em">Placeholder</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Vinyl</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary"<%= link_to 'Add to Collection', new_vinyl_path %></a>
                    <a class="btn btn-sm btn-outline-secondary"<%= link_to('View', vinyls_path) %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
      <!-- so far only 6 options will add more in future if needed -->
  </div>
</body>
<!-- Footer -->
  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <%= image_tag ("logo.png"), :size=> "110x140"%>
        <small class="d-block mb-3 text-muted">&copy; 2019 Collection Jar</small>
      </div>
      <div class="col-6 col-md">
        <h5>Collection Jar</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" <%= link_to('Video Games', videogames_path) %></a></li>
          <li><a class="text-muted" href="#">Movies</a></li>
          <li><a class="text-muted" href="#">Music</a></li>
          <li><a class="text-muted" <%= link_to('Vinyls', vinyls_path) %></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://rubyonrails.org">Ruby on Rails</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/">Bootstrap</a></li>
          <li><a class="text-muted" href="https://www.imdb.com/">IMDb</a></li>
          <li><a class="text-muted" href="https://www.igdb.com/">IGDB</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About Us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://github.com/bmmart2/collection-manager" target="_blank">GitHub</a></li>
          <li><a class="text-muted" href="/pages/team">Team</a></li>
          <li><a class="text-muted" href="/pages/privacy">Privacy</a></li>
          <li><a class="text-muted" href="/pages/terms">Terms</a></li>
        </ul>
      </div>
    </div>
    <p class="float-left">
      <a href="#">Back to top</a>
    </p>
  </footer>
</html>
