<!DOCTYPE html>
<html>
<!-- Header -->
  <head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a name="top" class="navbar-brand" href="/pages/index">
      <%= image_tag ("logo.png"), :size=> "55x65"%>
    </a>
    <a class="navbar-brand" href="/pages/index">Collection Jar</a>

      <!-- Spacing -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      </div>

      <!-- Search bar -->
      <form class="form-inline my-2 my-lg-0" id="newsearch" method="get" action="/pages/search">
        <input class="form-control mr-sm-2" name='q' type="search" placeholder="Search Video Games, Movies, and more..." aria-label="Search" id="textinput">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>


      <!-- Additional Spacing -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown py-0 px-md-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if user_signed_in? %>
              <%= image_tag ("user.png"), :size=> "20x20"%>
                    Hello, <%= current_user.fname %>!
              <% else %>
                    Hello, User!
              <% end %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                  <a class="dropdown-item" <%= link_to('Wishlist', wishlists_path) %>
                  <a class="dropdown-item" <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

              <% else %>
                  <a class="dropdown-item" <%= link_to('Login', new_user_session_path)  %></a>
                  <a class="dropdown-item" <%= link_to('Sign up', new_user_registration_path)  %></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" <%= link_to('Forgot password?', new_user_password_path) %></a>

              <% end %>

            </div>
          </li>
        </ul>

  </nav>
  <style>
    .media-left {
      margin-right: 10px;
    }
    a {
    color: #2e51a2;
    }
  </style>
  </head>
<!-- Body -->
<body>
  <div class="container">
    <div class="main-container center" id="main-contain">
      <main role="main">
        <div id="notices"></div>
        <div class="content" id="content-page"><br>
          <% api = VideoGameApi.new(api) %>
          <% results = api.search_by_title(params[:q]) %>
          <p class="mar-md-bottom"><strong>Top Video Game Results found for "<%= params[:q].to_s %>"</strong></p>
          <div class="block" data-sort="0" id="search-results">
            <% if results[0] == nil %>
            <i>No Matching Video Games Results found!</i>
            <br><br><br>
            <% else %>
            <!-- start of the render for games -->
        <% (0..3).each do |i| %>
                <% if results[i] != nil
                    date = api.find_release_date(results[i]['id'])
                    cover = api.get_cover_id(results[i]['cover']) %>
                <% end %>
            <% if results[i] != nil %>
                <div class="game-result" title="<%=results[i]['name']%>" data-original-title="hover over for title">
                <div class="media overflow relative">
                  <div class="media-left">
                    <a href="/pages/game_info?id=<%=results[i]['id']%>&date=<%=date%>&cover=<%=cover%>">
                      <% if cover != nil %>
                        <img src=<%= api.get_cover_link(cover, "720p") %> width="150" > <!-- Placeholder for now -->
                      <% else %>
                        <%= image_tag ("no_image.jpg"), :size=> "150x200"%>
                      <% end %>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="/pages/game_info?id=<%=results[i]['id']%>&date=<%=date%>&cover=<%=cover%>">
                        <span><%= results[i]['name'] %></span>
                      </a>
                      <small class="game-shortdate text-muted">(<span><%=date%></span>)
                     </small>
                    </h4>
                    <p>
                  </div>
                </div>
                <br> <!-- line break between each entry -->
                </div>
            <% end %>
            <% end %>
            <% end %>

            <br>
            <!-- initialize movie api -->
            <% movieApi = MovieApi.new(movieApi) %>
            <% results2 = movieApi.search_by_title(params[:q]) %>
            <p class="mar-md-bottom"><strong>Top Movie Results found for "<%= params[:q].to_s %>"</strong></p>
            <div class="block" data-sort="0" id="search-results">
              <% if (results2 == nil) %>
                <i>No Matching Movie Results found!</i>
              <% else %>
            <!-- start of the render for movies -->
            <% (0..3).each do |i| %>
              <% if results2[i] != nil
                date2 = movieApi.get_year(results2[i]['Title'])
                title2 = movieApi.get_title(results2[i]['Title'])
                cover2 = movieApi.get_poster_link(results2[i]['Title'])
                type = movieApi.get_type(results2[i]['Title'])
                %>
              <% end %>
            <% if (results2[i] != nil) && (type == "movie") %>
          <div class="game-result" title="<%=title2%>" data-original-title="hover over for title">
            <div class="media overflow relative">
              <div class="media-left">
                <a href="/pages/movie_info?id=<%=results2[i]['Title']%>&date=<%=date2%>&cover=<%=cover2%>">
                  <% if cover2 != "N/A" %>
                    <img src=<%=cover2%> height="200" width="150">
                  <% else %>
                    <%= image_tag ("no_image.jpg"), :size=> "150x200"%>
                  <% end %>
                <a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="/pages/movie_info?id=<%=results2[i]['Title']%>&date=<%=date2%>&cover=<%=cover2%>">
                    <span><%=title2%></span>
                  </a>
                  <small class="game-shortdate text-muted">(<span><%=date2%></span>)
                 </small>
                </h4>
              </div>
            </div>
            <br> <!-- line break between each entry -->
            </div>
            <% end %> <!-- end of if -->
            <% end %> <!-- end of 3 entry loop -->
            <% end %> <!-- end of checking if any matches
            </div>
          </div>
        </div>
      </div>
    </body>
<!-- Footer -->
  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2019 Collection Jar</small>
      </div>
    </div>
    <p class="float-left">
      <a href="#top">Back to top</a>
    </p>
  </footer>
</html>
